*, body{
    box-sizing: border-box
}
body{
    background-image: url("../img/pagesBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
.main-body{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.main-child{
    background-color: white;
}
.main-child-first{
    flex: 0 0 74%;
    max-width: 74%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 1px !important
}
#employee-header{
    position: sticky;
    top: 0px;
    z-index: 999
}
footer{
    background-color: #26272b;
    color: #bbb;
}

.footer-section{
    width: 80%;
    margin: 0px auto
}

.footer-section div h6{
    color: white;
    letter-spacing: 2px;
    margin-bottom:  10px  
}
.footer-section-list{
    list-style: none;
    padding-left: 0px;
    color: #bbb; 
}

.footer-section-list li a{
    color: #bbb; 

}
hr{
    background-color:  #bbb;
    width: 80%;
    opacity: .1;
}

.footer-section-list li a:hover{
    text-decoration: none;
    color: white; 

}
.fontIcons a{
    font-size: xx-large;
    color: gray;
    margin-left: 5px
}
.fontIcons a:hover{
    font-size: xx-large;
    color: blue
}
.container-about-text{
    color: #c8d0d7;
    letter-spacing: 2px
}
h1,h2,h3,h4,h5,h6{
    font-family: Oswald,sans-serif;
    letter-spacing: 1px;
    margin: 16px 0;
    line-height: 1.4;
}
h1::after{
    position: absolute;
    left: 50%;
    margin-left: -24px;
    margin-top: 65px;
    width: 48px;
    height: 2px;
    background-color: #29aafe;
    content: "";

}
