*, body{
    box-sizing: border-box
}
body{
    background-image: url("../img/pagesBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover
}
.main-body{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.main-child{
    background-color: white;
}
.main-child-first{
    flex: 0 0 74%;
    max-width: 74%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 1px !important
}
#employee-header{
    position: sticky;
    top: 0px;
    z-index: 999
}